{% extends cnp_template_dir + "_cnp.html.jinja" %}
{% set title = "Coding Notation Polymorphisms" %}
{% set top = True %}

{% block markdown %}

<dl class="cnp-list">

<dt> [cnp12](12/) </dt>
<dd>
Some or no variables declared after top of function
</dd>

<dt> [cnp11](11/) </dt>
<dd>
const before vs after type
</dd>

<dt> [cnp10](10/) </dt>
<dd>
Curly braces after if/else always vs usually
</dd>

</dl>

{% endblock markdown %}
